@import url('https://fonts.googleapis.com/css2?family=Delius&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: 100vh;
        overflow: hidden;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        user-select: none;
    }
    
    ::-webkit-scrollbar {
        width: 4px;
    }
    
    ::-webkit-scrollbar-track {
        background: #FFF;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
    }

    @media (prefers-color-scheme: dark) {
        ::-webkit-scrollbar-track {
            background: #163030;
        }

        ::-webkit-scrollbar-thumb {
            background: #888;
        }
    }
}

@layer components {
    .app {
        @apply flex flex-col justify-center text-center w-20 h-24;
        color: white;
        text-shadow: 0 0 2px black;
        border-radius: 4px;
    }
    
    .app img {
        @apply mx-auto aspect-square h-14;
    }

    .app-selected {
        background-color: #FFFFFF40;
    }

    .link {
        @apply text-[#4574D0] dark:text-[#5A8FFC];
    }
}

@layer utilities {
    .marker {
        font-family: 'Permanent Marker';
    }
}